<h1>Listing groups</h1>

<table class="pure-table pure-table-horizontal">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Completed?</th>
    <th>Team Size</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <td><%= group.description %></td>
    <td><%= group.hack ? "Team Finished" : "Still Hacking" %></td>
    <td><%= group.users.size %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user && current_user.is_admin? %>
  <%= link_to 'New Group', new_group_path %>
<% end %>
