<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <div class="pure-form pure-form-stacked">
    <div class="form-inputs">
      <div class="fields">
        <%= f.input :email, :label=>"Email Address"  %>
        <%= f.input :password %>
        <%= f.input :password_confirmation, :label=>"Confirm your password"%>

	<% if current_user && current_user.is_admin? %>
	    <%= f.input :role, :collection => User::ROLES, :label=>"Choose role", :class=>"pure-input-1-2"%>
	<% end %>

	<%= f.input :group_id, :collection => Group.all, :label_method => lambda{|g| g.name}, :value_method => lambda{|g| g.id}%>


	<br>
	<%= f.file_field :resume, :label=>"Upload your resume for our sponsors!" %>
	<br>
      </div>
      <div class="form-actions">
	<%= f.button :submit, :class=>"pure-button pure-button-primary"%>
      </div>
    </div>
  </div>

<% end %>
